@charset "UTF-8";
@import url("scss/plugins/bootstrap.min.css");
@import url("scss/plugins/mCustomScrollbar.css");
@import url("scss/plugins/swiper-bundle.min.css");
@import url("scss/plugins/aos.css");
@import url("font/css/fontello.css");
@import url("scss/plugins/bootstrap-select.min.css");
@import url("scss/plugins/jquery.fancybox.min.css");
@import url("scss/plugins/jquery.flipbox.css");
.lato {
  font-family: "Lato";
}

.kanit {
  font-family: "kanit";
}

.Oswald {
  font-family: "Oswald";
}

.roboto {
  font-family: "roboto";
}

.w20 {
  width: 20px;
}

.h20 {
  height: 20px;
}

.w40 {
  width: 40px;
}

.h40 {
  height: 40px;
}

.w50 {
  width: 50px;
}
@media (max-width: 767px) {
  .w50 {
    width: 40px;
  }
}

.h50 {
  height: 50px;
}
@media (max-width: 767px) {
  .h50 {
    height: 40px;
  }
}

.max1576 {
  max-width: 1576px;
}

.max1520 {
  max-width: 1520px;
}

.max1420 {
  max-width: 1420px;
}

.max1380 {
  max-width: 1380px;
}

.max1320 {
  max-width: 1320px;
}

.max1230 {
  max-width: 1230px;
}

.max774 {
  max-width: 774px;
}

.w60 {
  width: 60px;
}

.h60 {
  height: 60px;
}

.w100 {
  width: 100px;
}
@media (max-width: 767px) {
  .w100 {
    width: 60px;
  }
}

.max415 {
  max-width: 415px;
}

.max495 {
  max-width: 495px;
}

.max600 {
  max-width: 600px;
}

.max700 {
  max-width: 700px;
  margin: auto;
}

.max777 {
  max-width: 777px;
  margin: auto;
}

.max940 {
  max-width: 940px;
  margin: auto;
}

.max1000 {
  max-width: 1000px;
  margin: auto;
}

.max1120 {
  max-width: 1120px;
  margin: auto;
}

.max1128 {
  max-width: 1128px;
  margin: auto;
}

.max1180 {
  max-width: 1180px;
  margin: auto;
}

.max1200 {
  max-width: 1200px;
  margin: auto;
}

.max1400 {
  max-width: 1400px;
  margin: auto;
}

.max1420 {
  max-width: 1420px;
  margin: auto;
}

.max1440 {
  max-width: 1440px;
  margin: auto;
}

.max1520 {
  max-width: 1520px;
  margin: auto;
}

.max1560 {
  max-width: 1560px;
  margin: auto;
}

.h-50 {
  height: 50%;
}

.h-100vh {
  height: 100vh;
}

.lh1 {
  line-height: 1;
}

.lh14 {
  line-height: 1.4;
}

.lh16 {
  line-height: 1.6;
}

.lh18 {
  line-height: 1.8;
}

.lh21 {
  line-height: 2.1;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.bg-CCCCCC {
  background: #CCCCCC;
}

.bg-FBAF3D {
  background: #FBAF3D;
}

.bg-308D9B {
  background: #308D9B;
}

.bg-F1F6F7 {
  background: #F1F6F7;
}

.bg-hover-FEA610 {
  transition: all 0.3s;
}
.bg-hover-FEA610:hover {
  background: #FEA610 !important;
}

.bg-hover-FBAF3D {
  transition: all 0.3s;
}
.bg-hover-FBAF3D:hover {
  background: #FBAF3D !important;
}

.bg-hover-308D9B {
  transition: all 0.3s;
}
.bg-hover-308D9B:hover {
  background: #308D9B !important;
}

.bg-green6FBA44 {
  background: #6FBA44;
}

.bg-green006938 {
  background: #006938;
}

.bg-green0BBD6E {
  background: #0BBD6E;
}

.bg-grayF0F0F0 {
  background: #F0F0F0;
}

.bg-black {
  background: #141414;
}

.bg-blue {
  background: #04529B;
}

.bg-grayDCDCDC {
  background: #DCDCDC;
}

.bg-hover-white {
  transition: all 0.3s;
}
.bg-hover-white:hover {
  background: white !important;
}

.bg-hover-blue055DAE {
  transition: all 0.3s;
}
.bg-hover-blue055DAE:hover {
  background: #055DAE !important;
}

.bg-hover-green0BBD6E {
  transition: all 0.3s;
}
.bg-hover-green0BBD6E:hover {
  background: #0BBD6E !important;
}

.text-CCCCCC {
  color: #CCCCCC;
}

.text-808080 {
  color: #808080;
}

.text-959595 {
  color: #959595;
}

.text-717171 {
  color: #717171;
}

.text-white07 {
  color: rgba(255, 255, 255, 0.7);
}

.text-FBAF3D {
  color: #FBAF3D;
}

.text-FEA610 {
  color: #FEA610;
}

.text-308D9B {
  color: #308D9B;
}

.text-318E9C {
  color: #318E9C;
}

.text-308D9B {
  color: #308D9B;
}

.text-007DC5 {
  color: #007DC5;
}

.text-hover-FCC068 {
  transition: all 0.3s;
}
.text-hover-FCC068:hover {
  color: #FCC068 !important;
}

.text-hover-white {
  transition: all 0.3s;
}
.text-hover-white:hover {
  color: white !important;
}

.text-hover-FEA610 {
  transition: all 0.3s;
}
.text-hover-FEA610:hover {
  color: #FEA610 !important;
}

.text-hover-bold {
  transition: all 0.3s;
}
.text-hover-bold:hover {
  font-weight: bold !important;
}

@media (min-width: 768px) {
  .text-md-black {
    color: black !important;
  }
}

.border-CCCCCC {
  border: 1px solid #CCCCCC;
}

.border-14914914905 {
  border: 1px solid rgba(149, 149, 149, 0.5);
}

.border-bottom-white07 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.border-bottom-FEA610 {
  border-bottom: 1px solid #FEA610;
}

@media (min-width: 992px) {
  .border-left-lg-95959505 {
    border-left: 1px solid rgba(149, 149, 149, 0.5);
  }
}

.border-hover-FEA610 {
  transition: all 0.3s;
}
.border-hover-FEA610:hover {
  border: 1px solid #FEA610 !important;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-30 {
  border-radius: 30px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1400px) {
  .position-xxl-absolute {
    position: absolute !important;
  }
}

@media (min-width: 992px) {
  .position-lg-absolute {
    position: absolute !important;
  }
}

@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }
}

@media (min-width: 1200px) {
  .position-xl-absolute {
    position: absolute !important;
  }
}

@media (min-width: 768px) {
  .position-md-relative {
    position: relative !important;
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .flex-lg-justify-start {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .flex-md-justify-start {
    justify-content: flex-start;
  }
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.row.g-0 {
  margin: 0;
}
.row.g-0 [class^=col] {
  padding-right: 0;
  padding-left: 0;
}
.row.g-1 {
  margin-left: -8px;
  margin-right: -8px;
}
.row.g-1 [class^=col] {
  padding-left: 8px;
  padding-right: 8px;
}

.blank {
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 991px) {
  .text-lg-left {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .text-md-left {
    text-align: left;
  }
}

.cursor {
  cursor: pointer;
}

.point-event-none {
  pointer-events: none;
}

.point-event-all {
  pointer-events: all;
}

.les10 {
  letter-spacing: 14px;
}

.les5 {
  letter-spacing: 5px;
}

.les3 {
  letter-spacing: 3px;
}

.les18 {
  letter-spacing: 1.8px;
}

.les1 {
  letter-spacing: 1px;
}

.background-cover {
  background-size: cover;
  background-position: center;
}

.line1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-uppercase {
  text-transform: uppercase;
}

.overflow-hidden {
  overflow: hidden;
}

.mycol-5 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.font-weight-500 {
  font-weight: 500;
}

.blue-decLine {
  position: relative;
}
.blue-decLine::before, .blue-decLine::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.blue-decLine::before {
  z-index: 1;
  width: 40px;
  background: #04529B;
}
.blue-decLine::after {
  width: 80px;
  background: #0EB8EC;
}
@media (max-width: 767px) {
  .blue-decLine::before {
    width: 20px;
  }
  .blue-decLine::after {
    width: 40px;
  }
}

.list-style-decimal {
  list-style-type: decimal;
  padding-left: 22px;
}

@media (min-width: 1400px) {
  .d-xxl-flex {
    display: flex !important;
  }

  .d-xxl-none {
    display: none !important;
  }

  .pl-xxl-5 {
    padding-left: 3rem !important;
  }

  .px-xxl-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .mr-xxl-5 {
    margin-right: 3rem !important;
  }
}
.overflow-y-auto {
  overflow-y: auto;
}

.font-165 {
  font-size: 165px;
}

.font-150 {
  font-size: 150px;
}

.font-130 {
  font-size: 130px;
}

.font-120 {
  font-size: 120px;
}

.font-90 {
  font-size: 90px;
}

.font-88 {
  font-size: 88px;
}

.font-80 {
  font-size: 80px;
}

.font-70 {
  font-size: 70px;
}

.font-65 {
  font-size: 65px;
}

.font-64 {
  font-size: 64px;
}

.font-60 {
  font-size: 60px;
}

.font-56 {
  font-size: 56px;
}

.font-55 {
  font-size: 55px;
}

.font-46 {
  font-size: 46px;
}

.font-44 {
  font-size: 44px;
}

.font-42 {
  font-size: 42px;
}

.font-40 {
  font-size: 40px;
}

.font-36 {
  font-size: 36px;
}

.font-35 {
  font-size: 35px;
}

.font-34 {
  font-size: 34px;
}

.font-32 {
  font-size: 32px;
}

.font-30 {
  font-size: 30px;
}

.font-28 {
  font-size: 28px;
}

.font-26 {
  font-size: 26px;
}

.font-25 {
  font-size: 25px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-21 {
  font-size: 21px;
}

.font-20 {
  font-size: 20px;
}

.font-19 {
  font-size: 19px;
}

.font-18 {
  font-size: 18px;
}

.font-17 {
  font-size: 17px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

@media (max-width: 1600px) {
  .font-70 {
    font-size: 65px;
  }

  .font-64 {
    font-size: 40px;
  }
}
@media (max-width: 1460px) {
  .font-165 {
    font-size: 130px;
  }
}
@media (max-width: 1199px) {
  .font-120 {
    font-size: 100px;
  }

  .font-130 {
    font-size: 80px;
  }

  .font-90 {
    font-size: 80px;
  }

  .font-88 {
    font-size: 70px;
  }

  .font-70 {
    font-size: 60px;
  }

  .font-65 {
    font-size: 46px;
  }

  .font-60 {
    font-size: 50px;
  }

  .font-56 {
    font-size: 48px;
  }

  .font-46 {
    font-size: 40px;
  }

  .font-44 {
    font-size: 40px;
  }

  .font-40 {
    font-size: 35px;
  }

  .font-34 {
    font-size: 28px;
  }

  .font-32 {
    font-size: 28px;
  }

  .font-30 {
    font-size: 28px;
  }

  .font-28 {
    font-size: 22px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-25 {
    font-size: 22px;
  }

  .font-24 {
    font-size: 22px;
  }

  .font-22 {
    font-size: 18px;
  }

  .font-20 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .font-130 {
    font-size: 60px;
  }

  .font-120 {
    font-size: 80px;
  }

  .font-90 {
    font-size: 70px;
  }

  .font-88 {
    font-size: 60px;
  }

  .font-165 {
    font-size: 80px;
  }

  .font-56 {
    font-size: 40px;
  }

  .font-46 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .font-165 {
    font-size: 60px;
  }

  .font-130 {
    font-size: 46px;
  }

  .font-120 {
    font-size: 60px;
  }

  .font-90 {
    font-size: 50px;
  }

  .font-88 {
    font-size: 50px;
  }

  .font-80 {
    font-size: 35px;
  }

  .font-70 {
    font-size: 50px;
  }

  .font-60 {
    font-size: 35px;
  }

  .font-56 {
    font-size: 30px;
  }

  .font-55 {
    font-size: 34px;
  }

  .font-46 {
    font-size: 30px;
  }

  .font-44 {
    font-size: 28px;
  }

  .font-40 {
    font-size: 32px;
  }

  .font-36 {
    font-size: 22px;
  }

  .font-32 {
    font-size: 24px;
  }

  .font-30 {
    font-size: 24px;
  }

  .font-26 {
    font-size: 18px;
  }

  .font-25 {
    font-size: 18px;
  }

  .font-24 {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .font-165 {
    font-size: 44px;
  }

  .font-120 {
    font-size: 40px;
  }

  .font-90 {
    font-size: 35px;
  }

  .font-70 {
    font-size: 30px;
  }

  .font-18 {
    font-size: 16px;
  }

  .font-15 {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  .font-165 {
    font-size: 35px;
  }
}
/* ==========================================================================
	clear
 ========================================================================== */
label {
  margin-bottom: 0;
  line-height: normal;
}

textarea {
  -webkit-appearance: none;
}

button,
input, textarea {
  line-height: normal;
  outline: 0;
  background: transparent;
  border: 0;
}

button,
select {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  nowhitespace: afterproperty;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

figure,
address {
  padding: 0;
  margin: 0;
}

* {
  outline: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* ==========================================================================
    public
 ========================================================================== */
body {
  margin: 0;
  font-family: "Microsoft JhengHei";
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overflow-x: hidden;
  line-height: normal;
}
@media (max-width: 1199px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

.wp {
  position: relative;
  overflow: hidden;
}

main {
  margin-top: 90px;
}
@media (max-width: 1400px) {
  main {
    margin-top: 70px;
  }
}

.safari body {
  -webkit-text-size-adjust: none;
}

/* ==========================================================================
    public
 ========================================================================== */
/*不顯示外虛線*/
button, a {
  outline: none !important;
}

a, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  transition: color 0.3s ease-in-out;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  line-height: normal;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: -webkit-optimize-contrast;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

ul.noneStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.noneList {
  list-style: none;
}

ul.noneStyle > li {
  list-style: none;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #969696;
}

::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #969696;
}

::-o-placeholder {
  /* Mozilla Firefox 19+ */
  color: #969696;
}

::-ms-placeholder {
  /* Internet Explorer 10+ */
  color: #969696;
}

::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #969696;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
  /*字體顏色*/
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/
}

/**/
.scrollbar,
.scrollbarX,
.scrollbarY {
  -webkit-overflow-scrolling: touch;
}

.scrollbarX {
  overflow-x: auto;
}

table {
  -webkit-backface-visibility: visible;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-content {
  border: 0;
}
.modal-content .modal-dialog {
  margin: 0;
}
.modal-content .close {
  text-shadow: none;
  opacity: 1;
}

[class^=icon-]:before, [class*=" icon-"]:before {
  width: auto;
  margin: 0;
  line-height: inherit;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.banner {
  height: 400px;
}
@media (max-width: 1199px) {
  .banner {
    height: 350px;
  }
}
@media (max-width: 991px) {
  .banner {
    height: 280px;
  }
}

.submenu {
  position: relative;
  border-bottom: 1px solid rgba(149, 149, 149, 0.5);
}
.submenu.fixed-mode {
  position: fixed;
  width: 100%;
  top: 90px;
}
.submenu.fixed-mode + div {
  margin-top: 68px;
}
.submenu a:hover {
  color: red;
}
.submenu ul {
  display: flex;
}
.submenu ul li.active a, .submenu ul li:hover a {
  color: white;
  font-weight: bold;
  background: #FBAF3D;
}
.submenu ul li a {
  transition: all 0.3s;
}
@media (max-width: 1199px) {
  .submenu.fixed-mode {
    top: 70px;
  }
}
@media (max-width: 767px) {
  .submenu {
    border: none;
    line-height: 1.8;
  }
  .submenu ul {
    display: none;
    position: absolute;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
  }
  .submenu ul li {
    line-height: 1.5;
    border-bottom: 1px solid rgba(149, 149, 149, 0.5);
  }
  .submenu ul li.active a, .submenu ul li:hover a {
    color: #FBAF3D;
    font-weight: 400;
    background: white;
  }
}

.yellow-dec-line {
  position: relative;
}
.yellow-dec-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 21px;
  background: #FBAF3D;
}

.white-dec-line {
  position: relative;
}
.white-dec-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: white;
}

.yellow-dot li {
  padding-left: 15px !important;
}
.yellow-dot li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FBAF3D;
  position: absolute;
  left: 0;
  top: 12px;
}

.swiper-button.style-1 {
  width: 55px;
  height: 55px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(128, 128, 128, 0.2);
}
@media (max-width: 767px) {
  .swiper-button.style-1 {
    width: 35px;
    height: 35px;
  }
}

.pages-element a {
  width: 44.5px;
  height: 44.5px;
}
.pages-element a.active {
  background: #FEA610;
  color: white;
  border: 1px solid #FEA610;
}
@media (max-width: 991px) {
  .pages-element a {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 575px) {
  .pages-element a {
    width: 35px;
    height: 35px;
  }
}

.prev_back_next > div {
  max-width: 410px;
}
.prev_back_next a:hover {
  color: #808080;
}
.prev_back_next a:hover i {
  color: #FEA610;
}
.prev_back_next a:hover span span:nth-child(2) {
  color: black;
}
.prev_back_next a span {
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .prev_back_next > div {
    max-width: 260px;
  }
  .prev_back_next .line1 {
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
  }
}
@media (max-width: 767px) {
  .prev_back_next .line1 {
    display: none;
  }
}

.swiper-container.dot-style-1 .swiper-pagination {
  bottom: 50px;
}
.swiper-container.dot-style-1 .swiper-pagination-bullet {
  width: 28px;
  height: 28px;
  position: relative;
  opacity: 1;
  background: transparent;
}
.swiper-container.dot-style-1 .swiper-pagination-bullet::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
}
.swiper-container.dot-style-1 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.3);
}
@media (max-width: 1199px) {
  .swiper-container.dot-style-1 .swiper-pagination {
    bottom: 20px;
  }
}

html.menuOpen {
  overflow: hidden;
}
html.menuOpen .menu-wrapper {
  transform: none;
}

header {
  height: 90px;
}
header .logo {
  width: 250px;
  margin-left: 76px;
}
header .menu-wrapper {
  display: flex;
  align-items: center;
}
header .menu-wrapper .menu {
  margin-right: 10px;
}
header .menu-wrapper .menu li a {
  padding: 8px 16px;
}
header .complex {
  margin-right: 68px;
}
header .menu-toggle div {
  height: 2px;
  background-color: #FBAF3D;
  width: 20px;
}
header form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}
header form ::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
}
header form ::-o-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
}
header form ::-ms-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
header form ::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
header form input {
  width: 168px;
}
@media screen and (max-width: 1800px) {
  header .logo {
    margin-left: 0;
  }
  header .menu-wrapper .menu li a {
    padding: 8px 10px;
  }
  header .complex {
    margin-right: 0;
  }
}
@media screen and (max-width: 1600px) {
  header .logo {
    width: 200px;
  }
  header .menu-wrapper .menu li a {
    padding: 8px 4px;
  }
}
@media screen and (max-width: 1400px) {
  header {
    height: 70px;
  }
  header .logo {
    width: 250px;
  }
  header .menu-wrapper {
    overflow-y: auto;
    position: fixed;
    display: block;
    width: 100%;
    max-width: 414px;
    top: 70px;
    right: 0;
    height: calc(100vh - 70px);
    transform: translateX(100%);
    transition: all 0.5s;
    padding: 20px;
  }
  header .menu-wrapper .menu {
    margin-right: 0;
    padding-bottom: 20px;
  }
  header .menu-wrapper .menu li a {
    padding: 18px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 768px) {
  header .logo {
    width: 200px;
  }
}
@media screen and (max-width: 575px) {
  header .logo {
    width: 170px;
  }
  header .menu-wrapper {
    padding-top: 10px;
  }
  header .menu-wrapper .menu li a {
    padding: 15px 0;
  }
}

footer .title {
  padding-bottom: 12px;
}
footer .title::after {
  content: "";
  width: 30px;
  height: 1px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1199px) {
  footer .font-18 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 15px;
  }
  footer .text-FBAF3D {
    justify-content: center;
  }
  footer .les10 {
    letter-spacing: 8px;
  }
  footer .font-18 {
    font-size: 15px;
  }
}

@-webkit-keyframes goUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes goUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.editor .index-banner .jqimgFill {
  height: 500px;
}
.editor .index-banner .swiper-button {
  margin-top: 0;
  transform: translateY(-50%);
}
.editor .index-banner .swiper-button.swiper-button-prev {
  left: 40px;
}
.editor .index-banner .swiper-button.swiper-button-next {
  right: 40px;
}
.editor .index-banner .news-box {
  max-width: 428px;
  height: 90px;
  top: 40px;
  right: 50px;
}
.editor .index-banner .news-box .box {
  padding: 15px 25px;
  border: 3px solid #fff;
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}
.editor .index-case-section {
  background: #ECF4F2;
  padding-bottom: 500px;
}
.editor .index-case-section .swiper-container {
  padding: 0 30px;
}
.editor .index-case-section .swiper-container .swiper-slide {
  transition: all 0.3s;
  transform: scale(0.9);
}
.editor .index-case-section .swiper-container .swiper-slide.swiper-slide-active {
  transform: scale(1);
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.06);
}
.editor .index-case-section .swiper-button.swiper-button-prev {
  left: -25px;
}
.editor .index-case-section .swiper-button.swiper-button-next {
  right: -25px;
}
.editor .index-case-section .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #B9B9B9;
  margin: 0 15px;
  opacity: 1;
}
.editor .index-case-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FBAF3D;
}
.editor .index-service-section::before {
  content: "";
  display: block;
  height: 95px;
  width: 1px;
  background: #FEA610;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editor .index-service-section .item {
  transition: all 0.3s;
}
.editor .index-service-section .item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.editor .index-service-section .item.expand {
  flex: 0 0 34%;
}
.editor .index-service-section .item.expand::after {
  opacity: 1;
}
.editor .index-service-section .item.expand h3 {
  opacity: 0;
}
.editor .index-service-section .item.expand .text {
  pointer-events: all;
  -webkit-animation: 0.3s forwards goUp;
          animation: 0.3s forwards goUp;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.editor .index-service-section .item .jqimgFill {
  height: 700px;
}
.editor .index-service-section .item .jqimgFill.position-right {
  background-position-x: right !important;
}
.editor .index-service-section .item h3 {
  left: 40px;
  bottom: 47px;
  transition: opacity 0.3s;
}
.editor .index-service-section .item .text {
  z-index: 1;
  left: 0px;
  padding-left: 40px;
  padding-right: 40px;
  bottom: 60px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateY(100px);
}
@media (max-width: 1199px) {
  .editor .index-banner .news-box {
    max-width: 250px;
    height: 85px;
    right: 20px;
  }
  .editor .index-banner .news-box .box {
    padding: 10px 15px;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
  }
  .editor .index-banner .jqimgFill {
    height: 450px;
  }
  .editor .index-banner .swiper-button.swiper-button-prev {
    left: 20px;
  }
  .editor .index-banner .swiper-button.swiper-button-next {
    right: 20px;
  }
  .editor .index-case-section .swiper-container {
    padding: 0;
  }
  .editor .index-case-section .swiper-container .swiper-slide {
    transform: none;
  }
  .editor .index-service-section::before {
    height: 60px;
  }
  .editor .index-service-section .item::after {
    opacity: 1;
  }
  .editor .index-service-section .item.expand {
    flex: 0 0 50%;
  }
  .editor .index-service-section .item .jqimgFill {
    height: 400px;
  }
  .editor .index-service-section .item h3 {
    bottom: 40px;
    left: 30px;
  }
  .editor .index-service-section .item .text {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .editor .index-banner .jqimgFill {
    height: 400px;
  }
  .editor .index-banner .news-box {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .editor .index-service-section .item h3 {
    left: 20px;
  }
  .editor .index-service-section .item .text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .editor .index-banner .swiper-button.swiper-button-prev {
    left: 10px;
  }
  .editor .index-banner .swiper-button.swiper-button-next {
    right: 10px;
  }
  .editor .index-service-section .item.expand {
    flex: 0 0 100%;
  }
  .editor .index-service-section .item h3 {
    bottom: 32px;
    left: 20px;
  }
  .editor .index-service-section .item .jqimgFill {
    height: 350px;
  }
}

.search-section {
  background: #F1F6F7;
}
.search-section .tablists .tabs ul {
  border-bottom: 1px solid rgba(149, 149, 149, 0.5);
}
.search-section .tablists .tabs ul li.active button::after, .search-section .tablists .tabs ul li:hover button::after {
  opacity: 1;
}
.search-section .tablists .tabs ul li button::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 3px;
  background-color: #308D9B;
  opacity: 0;
  transition: all 0.3s;
}
.search-section .tablists .tabpanels .tabpanel {
  display: none;
}
.search-section .tablists .tabpanels .tabpanel.active {
  display: block;
}
.search-section .tablists .tabpanels .tabpanel .lists a {
  padding: 21px 25px;
  border-bottom: 1px solid rgba(149, 149, 149, 0.5);
}
@media (max-width: 991px) {
  .search-section .tablists .tabs ul {
    display: none;
    border: 0;
  }
  .search-section .tablists .tabs ul li {
    border-bottom: 1px solid rgba(149, 149, 149, 0.5);
  }
  .search-section .tablists .tabs ul li button::after {
    display: none;
  }
  .search-section .tablists .tabpanels .tabpanel .lists a {
    padding: 18px 16px;
  }
}

.about-section .col-img {
  width: 650px;
}
.about-section .gray-msak {
  position: relative;
}
.about-section .gray-msak::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 1600px) {
  .about-section .col-img {
    width: 600px;
  }
}
@media (max-width: 1400px) {
  .about-section .col-img {
    width: 400px;
  }
}
@media (max-width: 1199px) {
  .about-section .col-img {
    width: auto;
  }
}
@media (max-width: 767px) {
  .about-section .gray-msak::after {
    opacity: 1;
  }
}

.news-section .new.hover .img::before {
  opacity: 1;
}
.news-section .new.hover .img .more {
  opacity: 1;
}
.news-section .new.hover a,
.news-section .new.hover .add {
  box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1);
}
.news-section .new.float {
  z-index: 2;
}
.news-section .new .img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s;
}
.news-section .new .img .more {
  opacity: 0;
  transition: opacity 0.3s;
}
.news-section .new .add {
  display: none;
}
.news-section .new .add::before {
  position: absolute;
  display: block;
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  background-color: rgba(204, 204, 204, 0.5);
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 1400px) {
  .news-section .new {
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1);
  }
  .news-section .new .add {
    display: block !important;
  }
}

.promotions-section .filter label::before, .promotions-section .filter label::after {
  content: "";
  position: absolute;
}
.promotions-section .filter label::before {
  top: 4px;
  left: 0px;
  width: 12.5px;
  height: 12.5px;
  border: 1px solid #FBAF3D;
  transition: all 0.3s;
}
.promotions-section .filter label::after {
  top: 6px;
  left: 2px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: all 0.3s;
  background-image: url(images/svg/checked.svg);
}
.promotions-section .filter input {
  display: none;
}
.promotions-section .filter input:checked + label::before {
  background: #FBAF3D;
}
.promotions-section .filter input:checked + label::after {
  opacity: 1;
}
.promotions-section .filter .factor-content,
.promotions-section .filter .factor-sub-content {
  display: none;
}
.promotions-section .filter .factor-toggle.active img {
  transform: rotate(180deg);
}
.promotions-section .filter .factor-sub-toggle.active .sub-toggle-icon::after {
  transform: rotate(0deg);
}
.promotions-section .filter .factor-sub-toggle .sub-toggle-icon::before, .promotions-section .filter .factor-sub-toggle .sub-toggle-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 5px);
  width: 10px;
  height: 1px;
  background: #959595;
}
.promotions-section .filter .factor-sub-toggle .sub-toggle-icon::after {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.service-section .title-box::after {
  content: "";
  display: block;
  width: 1px;
  height: 95px;
  background: #FBAF3D;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.service-section .jqimgFill {
  height: 773px;
}
.service-section .text {
  max-width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.service-section .text.style-1 {
  left: 25%;
}
.service-section .text.style-2 {
  left: 75%;
}
.service-section .text .scrollbarY {
  width: 548px;
  max-width: 100%;
  height: 294px;
}
.service-section .text .scrollbarY .mCSB_scrollTools .mCSB_draggerRail {
  opacity: 0;
}
@media (max-width: 1199px) {
  .service-section .title-box::after {
    height: 60px;
  }
  .service-section .jqimgFill {
    height: 580px;
  }
  .service-section .text {
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .service-section .text .scrollbarY {
    height: 252px;
  }
}
@media (max-width: 767px) {
  .service-section .title-box::after {
    display: none;
  }
  .service-section .jqimgFill {
    height: 580px;
  }
  .service-section .text .scrollbarY {
    height: 250px;
  }
}

.links-section .title {
  position: relative;
}
.links-section .title:before {
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(149, 149, 149, 0.5);
  position: absolute;
  top: 78px;
  left: 0;
}
.links-section .content a {
  height: 160px;
}
@media (max-width: 1199px) {
  .links-section .content a:hover {
    box-shadow: none;
  }
}
@media (max-width: 991px) {
  .links-section .content a {
    height: auto;
  }
}

.download-section ul li {
  border-bottom: 1px solid rgba(149, 149, 149, 0.3);
}
.download-section ul li.open {
  border-bottom: none;
}
.download-section ul li.open button {
  font-weight: 700;
}
.download-section ul li.open button .circle {
  transform: rotate(180deg);
  background-color: #FBAF3D;
  color: white;
}
.download-section ul li button:hover .circle {
  color: white;
  background-color: #FBAF3D;
}
.download-section ul li button .circle {
  color: #FBAF3D;
  width: 22px;
  height: 22px;
  transition: all 0.3s;
}
.download-section ul li .tableBox {
  display: none;
  width: 100%;
}
.download-section table thead tr th + th::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.download-section table thead tr th:first-child {
  width: 16%;
}
.download-section table thead tr th:nth-child(2) {
  width: 64.5%;
}
.download-section table tbody tr:first-child {
  padding: 0;
  height: 5.5px;
}
.download-section table tbody tr:hover td {
  color: #000000;
}
.download-section table tbody tr td {
  color: #959595;
  position: relative;
  transition: all 0.3s;
}
.download-section table tbody tr td + td::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: 20px;
  background-color: rgba(204, 204, 204, 0.5);
}
.download-section table tbody tr td:last-child a img {
  position: relative;
  z-index: 1;
  width: 32.8px;
  height: auto;
}
.download-section table tbody tr td:last-child a:hover img {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
  .wp.download .dataBox .tables .container {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li {
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li button {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li button {
    padding: 15px 0 18px 0;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li button .circle {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li button .circle .svg {
    width: 8px;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox {
    padding-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table thead {
    display: none;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox table thead tr th:nth-child(2) {
    width: auto;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox table thead tr th:last-child {
    width: 19%;
    min-width: 140px;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr:first-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td {
    font-size: 0.938rem;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td {
    padding: 0 4px;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td {
    flex: 0 0 100%;
    padding: 5px 10px !important;
    padding-left: 6em !important;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td::after {
    display: none;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td::before {
    content: attr(data-th) "：";
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
    font-weight: 700;
    color: #000000;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:first-child {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:nth-child(2) {
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:last-child {
    padding: 15px 10px;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:last-child {
    justify-content: flex-start;
  }
}
@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:last-child a + a {
    margin-left: 15px;
  }
}
.wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:last-child a img {
  position: relative;
  z-index: 1;
  width: 32.8px;
  height: auto;
}

@media (max-width: 576px) {
  .wp.download .dataBox .tables .container ul li .tableBox table tbody tr td:last-child a img {
    width: 28px;
  }
}/*# sourceMappingURL=style.css.map */